body, html {
    height: 100%;
    margin: auto;
    padding: 0;
    width: 80%;
}
header, footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1em;
}

/* ----------------- header -------------- */
header nav ul {
    list-style: none;
    text-align: right;
}
header nav ul li {
    display: inline;
    font-size: 1.2em;
    margin: 0;
}
header nav ul li:not(:last-child):after { 
  content: ' | ';
  color: magenta;
}    
header nav a {
    color: inherit;
    font-style: normal;
    font-variant: small-caps;
    text-decoration: none;
}
header nav a:hover, header nav a:focus {
    text-decoration: underline;
    color: magenta;
}

/* ----------------- main -------------- */
main {
    border: 1px solid black;
    height: 50%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------- footer -------------- */